<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUB</title>
</head>
<header>
    <a href="http://127.0.0.1:5000/">home</a>

</header>
<body>
<p></p>
<a href="https://www.w3schools.com/python/default.asp" target="_blank">python tutorial</a>
<p></p>
<a href="https://www.w3schools.com/django/django_create_project.php" target="_blank">django</a>
<p></p>
<a href="https://www.wikipedia.org/" target="_blank">wiki</a>
<p></p>
<a href="https://github.com/" target="_blank">github</a>
<p></p>
<a href="https://stepit-dot-yamm-track.appspot.com/2M9zgUksLfPfvIABGSxmIYcaMT0CuX0pe8tsKKsPLxdPuGsbQjgELQf89OPBnXK2F85eTJIrrqEZRrbMkgj4wA6yogAlK58qEOTh6IQqgUw5VwhR2Iixbqo1gTdDWDnozQXEsyLyA7ImQ5tqZngqQ344yYkqQ_Swwd-4AWS1f10GgGU55uuGHL4RvKNennAJ_NaX707zN1pKA_A" target="_blank">odkaz na hodinu</a>
<p></p>
<a href="https://github.com/" target="_blank">github</a>
</body>
</html>